<div class="page-container">
  <div class="page-title">
    <h1>Kanban Boards</h1>
  </div>
  <div>
    <button mat-raised-button (click)="openDialogForNewKanban()">+ Create Kanban</button>
  </div>
  
  <div class="main-card">
    <mat-nav-list>
<div class="row" *ngFor="let kanban of kanbanList">
        <a mat-list-item  routerLink="/kanbans/{{kanban.id}}">
          <div class="item-content">
            <p class="kanban-title">{{kanban.title}}</p>
            <p class="kanban-createdDate">{{kanban.createdDate | date:'mediumDate'}}</p>
          </div> 
                
        </a>
        
        <button id="{{kanban.id}}" class="mat-raised-button" (click)="confirmDelete($event.target.id)">Delete</button>
</div>      
    </mat-nav-list>
  </div>
</div>

